# 1. if 조건문

### 예제1)

In [1]:
age = 19

if age < 20:
    print("청소년 할인")

print("입장을 환영합니다.")

청소년 할인
입장을 환영합니다.

In [2]:
age = 40

if age < 20:
    print("청소년 할인")

print("입장을 환영합니다.")

입장을 환영합니다.

### 예제2)

In [3]:
a = 6
b = 5

if (a%2 == 0) and (b%2 == 0):   # a와 b 둘다 짝수인가?
    print("두 수가 모두 짝수!")
    
if (a%2 == 0) or (b%2 == 0):    # a와 b 중 하나만 짝수인가?
    print("두 수 중 하나 이상이 짝수!")

두 수 중 하나 이상이 짝수!

### 예제3) 시험 성적 판별

In [7]:
score = int(input("점수를 입력하세요 : ")) 
# input 함수는 입력을 문자열로 받기 때문에 형변환!

if score >= 90:
    grade = 'A'

if score < 90 and score >= 80:
    grade = 'B'

if score < 80 and score >= 70:
    grade = 'C'
    
if score < 70 and score >= 60:
    grade = 'D'

if score < 60:
    grade = 'F'

print("당신의 등급은 : %s"%(grade))

점수를 입력하세요 : 75
당신의 등급은 : C

### 예제4) 예제3의 개선 Version

In [9]:
score = int(input("점수를 입력하세요 : "))

if score >= 90:
    grade = 'A'

else: # 위의 조건을 만족하지 않을 때!
    
    if score >= 80:
        grade = 'B'
    
    else:
    
        if score >= 70:
            grade = 'C'
    
        else:
        
            if score >= 60:
                grade = 'D'
        
            else:
                grade = 'F'

print("당신의 등급은 : %s"%(grade))

점수를 입력하세요 : 77
당신의 등급은 : C

### 예제5) 예제4의 더 개선된 Version ---> 가독성이 더 좋은 것!

In [10]:
score = int(input("점수를 입력하세요 : "))

if score >= 90:
    grade = 'A'

elif score >= 80:
    grade = 'B'

elif score >= 70:
    grade = 'C'

elif score >= 60:
    grade = 'D'

else:
    grade = 'F'

print("당신의 등급은 : %s"%(grade))

점수를 입력하세요 : 76
당신의 등급은 : C

# 2. for 반복문

### 예제1)

In [11]:
for i in range(5):
    print("갤럭시 노트 40 출시!")

갤럭시 노트 40 출시!
갤럭시 노트 40 출시!
갤럭시 노트 40 출시!
갤럭시 노트 40 출시!
갤럭시 노트 40 출시!

#### range(a, b, c) ----> a: 시작값, b: 종료 값(반환X) , c: 간격

### 예제2)

In [12]:
for i in range(40, 51, 1):
    print("갤럭시 노트 {:d}출시!!".format(i))

갤럭시 노트 40출시!!
갤럭시 노트 41출시!!
갤럭시 노트 42출시!!
갤럭시 노트 43출시!!
갤럭시 노트 44출시!!
갤럭시 노트 45출시!!
갤럭시 노트 46출시!!
갤럭시 노트 47출시!!
갤럭시 노트 48출시!!
갤럭시 노트 49출시!!
갤럭시 노트 50출시!!

### 예제3) 음수 값 간격은 어떻게?

In [13]:
for i in range(-2, -10, -1):
    print("갤럭시 노트 {:d}출시!!".format(i))

갤럭시 노트 -2출시!!
갤럭시 노트 -3출시!!
갤럭시 노트 -4출시!!
갤럭시 노트 -5출시!!
갤럭시 노트 -6출시!!
갤럭시 노트 -7출시!!
갤럭시 노트 -8출시!!
갤럭시 노트 -9출시!!

### 실습하기!

### 팩토리얼(Fatorial) 계산하기 ------> 강의자료 Page 38

### 예제4) 중첩 For 문 --- 구구단

In [19]:
for i in range(2, 10):   # i의 범위는 2부터 10전까지(9까지) 1간격으로!
    for j in range(1, 10): # j의 범위는 1부터 10 전까지(9까지) 1간격으로!
        
        print("{:d} * {:d} = {:d}".format(i, j, i*j))
        
    print() # 단이 바뀔 때, 한 칸 띄어 주기 위함! (가독성 높이기)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

## for문과 리스트

### 예제5)

In [20]:
for i in [0, 3, 10, 11]:
    print(i)

0
3
10
11

In [21]:
for i in [0, 3, 10, 'a']:
    print(i)

0
3
10
a

### 예제6-1) 정수형 리스트의 객체 순회

In [22]:
numbers = [11, 22, 33, 44, 55, 66]

for n in numbers:
    print(n, end = ' ')

11 22 33 44 55 66

### 예제 6-2) 실수형 리스트의 객체 순회

In [24]:
f_numbers = [1.1, 2.5, 3.7, 5.6, 9.2, 11.3, 6.8]

for f in f_numbers:
    print(f, end = '/')

1.1/2.5/3.7/5.6/9.2/11.3/6.8/

### 예제 6-3) 문자열 리스트의 객체 순회

In [25]:
summer_fruits = ['수박', '참외', '체리', '포도']

for fruit in summer_fruits:
    print(fruit, end = ' ')

수박 참외 체리 포도